<!-- Les nouvelles activités -->
<div>
    <div *ngFor="let act of activities; even as isEven">
        <div class="row align-items-center" *ngIf="isEven">
            <div class="col-md-7 col-sm-12 order-"><img src="{{act.image}}" class="d-block img-fluid rounded-3" alt="..."></div>
            <div class="col-md-5 col-sm-12 mt-3">
                <h4 class="me-3">{{act.titre}}</h4>
                <div class="me-3">{{act.desc}}</div>
            </div>
        </div>
        <div class="row align-items-center mt-3" *ngIf="!isEven">
            <div class="col-md-7 col-sm-12 order-md-1"><img src="{{act.image}}" class="d-block img-fluid rounded-3" alt="..."></div>
            <div class="col-md-5 col-sm-12 order-md-0 p-3">
            <h4 class="ms-3">{{act.titre}}</h4>
            <div class="ms-3">{{act.desc}}</div>
            </div>
        </div>
    </div>

</div>